{% extends 'base.html' %} {% block content %}
<div class="flex topper">
            <button id="searchBtn" class="btn" type="submit" name="search_submit">
                <i class="material-icons search-icon">search</i>
            </button>
                <!--  -->
            <input id="search" class="search_box" type="text" placeholder="Search film title...">
        </div>
<div class="container searched-movies">
        <div id="movies-searchable"></div>
        <div id="movies-container"></div>
</div>
{% endblock %}